<% layout("/layouts/boilerplate.ejs") %> 
<body>
<div id="filters-wrapper">

    <div id="filters">
    
            <a class="filter" href="/listings?hotelType=Trending">
                <i class="fa-solid fa-fire"></i>
                <span>Trending</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Rooms">
                <i class="fa-solid fa-bed"></i>
                <span>Rooms</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Iconic Cities">
                <i class="fa-solid fa-mountain-city"></i>
                <span>Iconic Cities</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Mountains">
                <i class="fa-solid fa-mountain"></i>
                <span>Mountains</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Castles">
                <i class="fa-brands fa-fort-awesome"></i>
                <span>Castles</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Pools">
                <i class="fa-solid fa-water-ladder"></i>
                <span>Amazing Pools</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Camping">
                <i class="fa-solid fa-campground"></i>
                <span>Camping</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Farms">
                <i class="fa-solid fa-tractor"></i>
                <span>Farms</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Arctic">
                <i class="fa-solid fa-snowflake"></i>
                <span>Arctic</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Beaches">
                <i class="fa-solid fa-umbrella-beach"></i>
                <span>Beaches</span>
            </a>
    
            <a class="filter" href="/listings?hotelType=Boats">
                <i class="fa-solid fa-ship"></i>
                <span>Boats</span>
            </a>
    
    </div>
    
    
    <div class="tax-toggle">
            <i class="fa-solid fa-receipt"></i>
    
            <label class="switch">
                <input type="checkbox" id="switchCheckDefault">
                <span class="slider"></span>
            </label>
    
            <span class="tax-text">Total Price (Incl. Taxes)</span>
    </div>
    
    </div>
    <div class="card-wrapper">
        <div class="row row-cols-lg-3 row-cols-md-2 mt-3 row-cols-sm-1 card-wrapper">
            <% for(let listing of listings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="listing-card card col"> 
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-title"><b><%= listing.title %></b></p>
                        <p class="card-location"><%= listing.location %></p>
                        <p class="price" data-price="<%= listing.price %>">
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                        </p>
                    </div>
                </div>
                </a>
            <% } %>
        </div>
        <p class="results-count">
            Showing page <%= page %> of <%= totalPages %>
        </p>
        <div class="pagination">
    
            <% if(page > 1){ %>
                <a href="/listings?page=<%= page - 1 %>&hotelType=<%= hotelType || '' %>&search=<%= search || '' %>" 
                class="page-btn">Previous</a>
            <% } %>
    
            <% for(let i = 1; i <= totalPages; i++){ %>
    
                <a href="/listings?page=<%= i %>&hotelType=<%= hotelType || '' %>&search=<%= search || '' %>" 
                class="page-number <%= i === page ? 'active' : '' %>">
                <%= i %>
                </a>
    
            <% } %>
    
            <% if(page < totalPages){ %>
                <a href="/listings?page=<%= page + 1 %>&hotelType=<%= hotelType || '' %>&search=<%= search || '' %>" 
                 class="page-btn">Next</a>
            <% } %>
    
        </div>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
        let taxPrice = document.querySelectorAll(".price");
        taxPrice.forEach((price)=>{
            let basePrice = price.dataset.price;
            if(taxSwitch.checked){
                let totalPrice = Math.round(basePrice * 1.18);
                price.innerHTML = `&#8377; ${totalPrice.toLocaleString("en-IN")} /night`;
            }else{
                price.innerHTML = `&#8377; ${parseInt(basePrice).toLocaleString("en-IN")} /night`;
            }
        })
});
</script>

 